*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* general style types */
body {
  font-family: 'Raleway';
  line-height: 1.75;
}
.container {
  margin: auto;
  width: 600px;
  height: 100%;
  padding: 10px;
}
h1 {
  font-size: 2em;
}
form {
  padding: 25px;
}
input {
  margin: 15px;
}
button {
  border-radius: 5px;
  margin-top: 20px;
  height: 45px;
  width: 100px;
  box-shadow: 8px 5px 5px grey;
  display: block;
}